# Database Configuration
DATABASE_URL=postgresql://user:password@host:port/dbname?sslmode=require

# Optional: NeonDB example
# DATABASE_URL=postgresql://neondb_owner:password@ep-hostname.aws.neon.tech/neondb?sslmode=require
